
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100%;
    position: absolute;
}
.heared{
    width: 100%;
    height: 9%;
    background-color: #242938;
    color: #ffffff;

}
.head-logo{
    font-size: 1.5rem;
    margin-left: 10px;
    line-height: 2.5;
    float: left;
    margin-right: 15px;

}
.head-ul{
    list-style: none;

}
.head-ul>li{
    float: left;
    padding: 5px 15px;
    line-height: 2.5;
}
.head-ul>li>a{
    color: #ffffff;
    display: inline-block;
  padding: 3px;
}
.active-a{
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: 1px 2px 2px #ffffff;
   border-bottom: 2px solid #ffffff;
}
.head-ul>li>ul{
    background-color: #242938;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    display: none;

}
.head-ul>li>ul li{
    list-style: none;
    padding: 0 10px;
}
.head-ul>li>ul li a{
    color: #ffffff;
    font-size: 1rem;
}
.head-right{
    float: right;
    margin-right: 10px;
    line-height:3;

}
.head-right span{
    margin-right: 10px;
}
.head-right span:nth-child(1){
    font-size: 0.85rem;
}
.left text01_div{
    font-size: 20px;
}
.section{
    width: 100%;
    height: 90%;

}
.home{
    background-image: url("../img/bg-home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    
    
    
    
}
.home-child{
    width: 25%;
    height: 45%;
    display: inline-block;
    border:2px solid #738bbd;
    box-shadow: 2px 2px 2px #67b7e4 ;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 1%;
    background-color: #314e8085;

}
.home-child a{
    color: #ffffff;
}
.home-child p{
    padding-top: 10%;
    font-size: 2rem;
}
.home-child p img{
    width: 85px;
    height: 85px;
}
.map_box{

    
    width: 100%;
    height: 120%;
}





.map_top{
    position:absolute;
    top:0%;
    left: 0;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #4b8df8;
    
    background-color: rgba(255, 255, 255, 0.84);

    z-index: 999;
}




.map_top>ul{
    list-style: none;
    
    font-size: 8px;
    float: center;


}
.map_top>ul>li{
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
}

.map_top>ul>li a{
    color: #2E2D3C !important;
}
.map_top>ul .active,.map_top>ul>li .active{
    color: #0D8BBD;
}
.map_select{
    position: absolute;
    top:269%;
    right: 8px;
    box-shadow: -10px 0px 15px #034c6a inset, /*å·¦è¾¹é˜´å½±*/
    0px -10px 15px #034c6a inset, /*ä¸Šè¾¹é˜´å½±*/
    10px 0px 15px #034c6a inset, /*å³è¾¹é˜´å½±*/
    0px 10px 15px #034c6a inset;
    border: 1px solid #034c6a;
    width: 110px;
    padding-top: 8px;

    padding: 1 px;

    line-height: 0px;

    padding-bottom: 14px;
    border-radius: 7px;
    background-color: #081832e3;
}

.map_select p{
    padding: 8px 15px;
    color: #ffffff;
    font-size: 14px;
}
.map_select p input[type=checkbox]{
    width: 15px;
    height: 15px;
    position: relative;
    top:3px;
    margin-right: 10px;
}

.neww{width:123;}

.pie-chart>div {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.pop-up .pie-chart {
    width: 76%;
    height: 80%;
}

.chart-box {
    position: absolute;
    top: 0.42rem;
    bottom: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

.right-top>.chart-box {
    top: 1rem;
}



.wenzi{
    margin-top: 15px;
}

.gun{
    /* width: 100%;*/
    /*margin: 20px;*/
}
.gun span{
    display: block;
    float: left;
    height: 35px;
    width: 130px;
    /*background: red;*/
    /*margin: 15px 10px 10px 10px;*/
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #61d2f7;
    text-align: center;
}
.echart .gun span{
    padding: 30px 20px;
    margin-left: 15px;
}






#FontScroll{
    width: 100%;
    height: 360px;
    overflow: hidden;
    /*float: left;*/
    margin-top: 10px;
    /*margin: 0 5%;*/
    /*margin-left: 50px;*/

    /*background: gold;*/

}



#FontScroll ul li{
    height: 38px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 38px;
    border-bottom: 1px dashed #404040;
    /*width:33.3%;*/
    overflow: hidden;
    /*background: red;
    margin: 0 2%;*/

}
#FontScroll ul li:nth-child(1){
    /*background-color: #072951;*/
    box-shadow: -10px 0px 15px #034c6a inset, /*左边阴影*/
    10px 0px 15px #034c6a inset;

}
#FontScroll ul li:hover{
    box-shadow: -10px 0px 15px #034c6a inset, /*左边阴影*/
    10px 0px 15px #034c6a inset;
    cursor: pointer;
}
.myscroll ul li div span{
    font-size: 15px;
}

.fontInner span{
    display:inline-block;
    /*float: left;*/
    /*height: 20px;*/
    width:31%;
    display: block;
    float: left;
    height: 20px;
    width: 33%;
    /*background: red;*/
    /*margin: 15px 10px 10px 10px;*/
    /*padding: 20px;*/
    text-align: center;
    font-size: 7px;
    font-weight: 600;
    color: #cfcfc0;
    text-align: center;
    margin-bottom: 10px;
    /*background: red;*/


}

.new{  color:#034c6a;  }

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
}

.con_div{
    /* height: 110px; */
    width: 98%;
    margin-left: 1%;
    margin-bottom: 25px;
}
.con_div_text{
    /* height: 100%; */
    background-color: #034c6a;
    width: 100%;
    margin-right: 1.3%;
}


.con_div_text01{
    width: 100%;
    /* height: 100%; */
}
.text01_img{
    width: 20px;
    height: 20px;
    margin-left: 5%;
  /* margin-top: 35px; */
}
.text01_div{
    margin-top: 15px;
    margin-left: 5%;
    text-align: center;

}
.text01_div{

    line-height: 35px;
}
.text01_div :nth-child(1){
    font-size: 20px;
    color: #ffffff;
}
.text01_div :nth-child(2){
    font-size: 28px;
    color: #ffff43;
    font-weight: 1;
 
    margin-left: -10px;


}


.left-top {
    width: 100%;
    height: 17.4%;
    position: relative;
}

.left-top>.current-num {
    width: 4.9rem;
    height: 1.8rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/border_bg01.png) top left no-repeat;
    background-size: 100% 100%;
}







.icon{margin:3px 4px 0 0}
.news_check{padding: 16px 15px 16px 15px;border: 1px #ccc solid;margin-bottom: 4px;background-color: #fff;box-shadow: 2px 2px 5px #b1afaf;}
.check_left input{height: 28px;width: 198px;border-radius: 4px;border: 1px #ccc solid}
.check_left button{height: 28px;border: none;margin-left: 6px;width: 65px;border-radius: 4px;background-color: #337ab7;color: #fff;padding-left: 18px;
    background-image: url(../img/100_03.png);background-repeat: no-repeat;background-position: 11px 8px}