.box-center .btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: 2px solid #0E94EA;

}
.box-right .gun span{
    width: 130px;
    height: 40px;
    padding: 20px 0;
    margin: 3px 0 10px 20px
}
.settings-box #myform .now {
    color: rgb(205, 221, 247);
    font-size: 20px;
    height: 20px;
    width: 400px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: 8px;

}
.settings-box #see-map {
    margin-top: 60px;
}

.settings-box #list {
    display: none;
    margin-top: -10px;
    margin-left: 30px;
}
.settings-box .gun span {
    width: 130px;
    height: 20px;
    margin: 3px 0 10px 3px
}
.settings-box .fontInner span {
    margin-left: 20px;
    width: 110px;

}